<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="copy">
    <hr>
    <table width="100%">
        <tr>
            <td align="center"><button onclick="window.location.href='/advice'">我有个想法,不知当讲不当讲~</button></td>
        </tr>
        <tr>
            <td align="center">&copy; 2018 ICE</td>
        </tr>
    </table>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1276245125'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1276245125%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>

</html>