<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/base">
<head>
    <meta charset="utf-8"/>
    <title>同学汇</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="import" href="/static/import.html">
    <meta name="keywords" content="同学汇,同学会"/>
</head>
<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">

<table class="table">
    <tr th:each="temp : ${temp}">
        <img th:src="${temp.photoPath}" class="img-rounded img-responsive center-block">
        <td th:text="${temp.school}"></td>
        <td th:text="${temp.name}"></td>
        <td th:text="${temp.studentId}"></td>
    </tr>
</table>

<div th:insert="~{layout/footer :: copy}"></div>
</body>
</html>